$default-font: "PT Sans Narrow", sans-serif;
$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 768px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
// color by to Andreas
$black: #000000;
$white: #ffffff;
$bg-lightgrey: #f8f5f2;
$bg-grey: #353535;
$bg-darkgrey: #292929;
$dim-grey: #242424;
$bg-brown: #826550;
$nav-brown: #6a4d38;
$font-lightgrey: #f7f4f1;
$btn-light-bd: #e5ddd5;
$btn-light-bg: #d5c9bd;
$btn-light-clr: rgba($black, 0.3);
$btn-dark: rgba($white, 0.1);
$btn-dark-bd: #3f3f3f;
$btn-dark-bg: #252525;
$btn-dark-clr: rgba($white, 0.3);