.reviews {
	width: 320px;
	margin: 0 auto;
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 55px;
	padding-left: 20px;

	color: $bg-darkgrey;

	background-color: $bg-lightgrey;
}
.reviews__title {
	margin: 0;
	margin-bottom: 30px;

	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.reviews__item {
	display: flex;
	justify-content: space-between;
	margin: 0;
}
.reviews__author-picture {
	width: 50px;
	height: 50px;
	margin-top: 10px;
}
.reviews__holder {
	width: 210px;
}
.reviews__author-name {
	display: block;
	margin-bottom: 10px;

	font-size: 24px;
	font-weight: bold;
	font-style: normal;
}
.reviews__text {
	overflow: hidden;
	margin-bottom: 30px;
}
.reviews__write {
	display: none;
}
.reviews__arrow--prev,
.reviews__arrow--next {
	display: none;
}
@media (min-width: $tablet-width) {
	.reviews {
		width: 768px;
		padding-top: 40px;
		padding-right: 64px;
		padding-bottom: 65px;
		padding-left: 64px;
	}
	.reviews__title {
		margin: 0;

		font-size: 40px;
		line-height: 40px;
		text-align: left;
		text-transform: uppercase;
	}
	.reviews__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.reviews__write {
		display: block;
		width: 100%;
		width: 160px;
		margin-bottom: 34px;
		padding: 12px;

		font-family: inherit;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		color: #000000;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		border: 1px solid #e5ddd5;
		background-color: transparent;

		cursor: pointer;;
	}
	.reviews__write:hover {
		color: #000000;
		text-decoration: none;

		border-color: #d5c9bd;
		background-color: transparent;;
	}

	.reviews__write:active {
		color: rgba(0,0,0,0.3);

		border-color: #d5c9bd;
		background-color: #d5c9bd;;
	}
	.reviews__author-picture {
		width: 80px;
		height: 80px;
		margin-top: 40px;
	}
	.reviews__item {
		justify-content: flex-end;
		width: 540px;
		margin: 0 auto;

		border-top: 1px solid #e5ddd5;
		border-bottom: 1px solid #e5ddd5;
	}
	.reviews__holder {
		width: 430px;
		padding-left: 35px;
	}
	.reviews__author-name {
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.reviews__author-image {
		left: -110px;
	}
	.reviews__arrow:hover {
		color: #000000;
		text-decoration: none;

		border-color: #d5c9bd;
		background-color: transparent;;
	}

	.reviews__arrow:active {
		color: rgba(0,0,0,0.3);

		border-color: #d5c9bd;
		background-color: #d5c9bd;;
	}
}
@media (min-width: $desktop-width) {
	.reviews {
		width: 1200px;
		padding-right: 120px;;
		padding-left: 120px;
		padding-bottom: 80px;
	}
	.reviews__item {
		width: 960px;
		border: none;
		padding-left: 64px;
		padding-right: 64px;
	}
	.reviews .owl-nav .owl-dots {
		display: none;
	}
	.reviews__holder {
		width: 570px;
		border: 1px solid #d5c9bd;
	}
	.reviews__author-picture {
		width: 249px;
		height: 160px;
		margin: 0;
		}
}
